

.file {
    display: flex;
}



.dark {
    display: block;
    background-color: brown;
    border: 1px dashed black;
    height: 5vh;
    width: 5vh;
}

.light {
    display: block;
    background-color: bisque;
    border: 1px dashed black;
    height: 5vh;
    width: 5vh;
}


.white.King {
    background-image: url("./pieceImages/Screenshot_20230115_085235.png");
    background-repeat:no-repeat;
    background-position: center;
    background-size: 50%;
    
}

.white.Queen {
    background-image: url("./pieceImages/Screenshot_20230115_085301.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%
}

.white.Bishop {
    background-image: url("./pieceImages/Screenshot_20230115_085327.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%
}

.white.Knight {
    background-image: url("./pieceImages/Screenshot_20230115_085351.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%
}

.white.Rook {
   background-image: url("./pieceImages/Screenshot_20230115_085403.png");
   background-repeat: no-repeat;
   background-position: center;
    background-size: 50%
}

.white.Pawn {
    background-image: url("./pieceImages/Screenshot_20230115_085427.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%
}

.black.King{
    background-image: url("./pieceImages/Screenshot_20230115_085446.png");
   background-repeat: no-repeat;
   background-position: center;
    background-size: 50%
}

.black.Queen {
    background-image: url("./pieceImages/Screenshot_20230115_085501.png");
   background-repeat: no-repeat;
   background-position: center;
    background-size: 50%
}

.black.Rook {
    background-image: url("./pieceImages/Screenshot_20230115_085535.png");
   background-repeat: no-repeat;
   background-position: center;
    background-size: 50%
}

.black.Bishop {
    background-image: url("./pieceImages/Screenshot_20230115_085510.png");
    background-repeat: no-repeat;
    background-position: center;
     background-size: 50%
}

.black.Knight {
    background-image: url("./pieceImages/Screenshot_20230115_085521.png");
    background-repeat: no-repeat;
    background-position: center;
     background-size: 50%
}

.black.Pawn {
    background-image: url("./pieceImages/Screenshot_20230115_085553.png");
    background-repeat: no-repeat;
    background-position: center;
     background-size: 50%
}